@layer reset, base, default, module, util, component, override;

@import 'normalize.css';
@import '@/style/token.css';

@layer reset {
	fieldset, ul, ol, h1, h2, h3, h4, h5, h6, p, pre, button {
		border: 0;
		padding: 0;
		margin: 0;
	}

	input[type="range"] {
		appearance: none;
		-webkit-appearance: none;
		background: transparent;
		cursor: pointer;
	}

	button {
		background-color: transparent;
		text-decoration: none;
	}

	ul, ol {
		list-style: disc inside;
	}
}

@layer default {
	* {
		box-sizing: border-box;
		scroll-behavior: smooth;
	}

	::marker {
		margin-right: calc(var(--margin-unit) * 1);
	}

	:focus-visible {
		outline-color: var(--outline-color);
		outline-style: var(--outline-style);
		outline-width: var(--outline-width);
		outline-offset: var(--outline-offset);
	}

	dialog {
		position: absolute;

		max-width: var(--breakpoint-lg);
  	width: 80%;
		height: fit-content;

		border: 0;
		border-radius: var(--border-radius-unit);
	}

	dialog[open] {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: stretch;
	
		width: 100%;
		gap: calc(var(--spacing-unit) * 3);
		padding: calc(var(--padding-unit) * 3);
	
		background-color: #fff;
	}

	dialog::backdrop {
		backdrop-filter: blur(2px);
	}

	a {
		color: var(--text-link-color);
		text-decoration: none;
		cursor: pointer;
		width: fit-content;
		height: fit-content;
	}
	a:link, a:visited, a:active {
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}

	pre {
		font-family: var(--font-family-monospace);
	}

	strong {
		font-weight: var(--font-weight-bold);
	}

	hr {
		margin: 0;
		border: 0 solid var(--divider-color);
		border-bottom-width: thin;
		border-right-width: thin;
		align-self: stretch;
		height: auto;
		flex-shrink: 0;
	}

	svg {
		width: 1em;
		height: 1em;
		font-size: inherit;
	}

	:root {
		accent-color: var(--brand-color);
	}

	body {
		font-family: var(--font-family);
		font-weight: var(--font-weight-medium);
		font-size: calc(var(--font-size) * 0.875);
		line-height: calc(var(--line-height) * 1.1);
		letter-spacing: var(--letter-spacing-tight);

		min-height: 100vh;
		background-color: var(--background-primary-color);
		color: var(--text-primary-color);
	}
}
