@layer base {
	:root {
		/* spacing */
		--spacing-unit: 8px;
		--padding-unit: var(--spacing-unit);
		--margin-unit: var(--spacing-unit);
		--border-radius-unit: 4px;
		--full-border-radius: 99999px;

		/* breakpoint */
		--breakpoint-xs: 300px;
		--breakpoint-sm: 600px;
		--breakpoint-md: 900px;
		--breakpoint-lg: 1200px;
		--breakpoint-xl: 1500px;

		/* font */
		--font-family-sans: 'Montserrat', ui-sans-serif, 'Cantarell', 'Open Sans', sans-serif;
		--font-family-serif: ui-serif, 'Georgia', serif;
		--font-family-monospace: ui-monospace, 'Courier New', monospace;
		--font-family: var(--font-family-sans), system-ui;

		--font-weight-light: 300;
		--font-weight-regular: 400;
		--font-weight-medium: 500;
		--font-weight-bold: 700;

		--font-size: 1rem;
		--line-height: 1em;

		--letter-spacing-tighter: -0.05em;
		--letter-spacing-tight: -0.025em;
		--letter-spacing-normal: 0em;
		--letter-spacing-wide: 0.025em;
		--letter-spacing-wider: 0.05em;
		--letter-spacing-widest: 0.1em;

		/* colors */
		--brand-color: hsla(23 99% 58% / 1);
		--error-color: hsla(349 73% 48% / 1);

		--text-primary-color: hsla(0 0% 64% / 1);
		--text-secondary-color: hsla(0 0% 34% / 1);
		--text-link-color: var(--brand-color);

		--background-primary-color: hsla(0 0% 93% / 1);
		--background-secondary-color: hsla(300 100% 99% / 1);

		--border-color: hsla(0 0% 94% / 1);
		--divider-color: var(--border-color);

		/* navigation focus */
		--outline-color: var(--brand-color);
		--outline-style: dotted;
		--outline-width: 2px;
		--outline-offset: 1px;
	}
}
